[submodule "apps/extern/cpp-httplib"]
	path = apps/extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "apps/extern/snitch"]
	path = apps/extern/snitch
	url = https://github.com/snitch-org/snitch.git
[submodule "apps/extern/json"]
	path = apps/extern/json
	url = https://github.com/nlohmann/json
[submodule "apps/extern/FTXUI"]
	path = apps/extern/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI
